<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Have an account?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login' || authType =='social'">Need an account?</a>
        </p>
        <list-errors [errors]="errors"></list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="username"
                placeholder="Username"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType == 'register'" />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text" />
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password" />
            </fieldset>
            <fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>
           </fieldset>
            <hr  class="hr-text" *ngIf="authType == 'login' || authType =='social'" data-content="OR">
            <fieldset class="form-group" *ngIf="authType == 'login' || authType =='social'">
                <a (click)="signIn('google')" *ngIf="authType == 'login' || authType =='social'" class="btn btn-block btn-social btn-google sociallogingoogle"> 
                  <span class="fa fa-google"></span>  Sign in with Google
                </a>
                <a (click)="signIn('facebook')" *ngIf="authType == 'login' || authType =='social'" class="btn btn-block btn-social btn-facebook socialloginfb"> 
                  <span class="fa fa-facebook"></span>  Sign in with Facebook
                </a>
            </fieldset>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
