<div class="auth-page">
    <div class="container page">
      <div class="row">
  
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Checkout</h1>
          <p class="text-xs-center">
          </p>
          <span class="payment-message">{{message}}</span>
          <form method="POST" id="payment-form" (ngSubmit)="getToken()">
            <fieldset >
                <fieldset >
                    <fieldset class="form-group">
                      <span>Card Number</span>
                      <input [(ngModel)]="cardNumber" name="card-number" class="form-control form-control-lg" min="16" max="16"  type="text" size="20" data-stripe="number">
                    </fieldset>

                    <fieldset class="form-group">
                        <label>
                            <span>Expiration Month(MM)</span>
                            <input [(ngModel)]="expiryMonth" name="expiry-month"  class="form-control form-control-lg" min="2" max="2" type="text" size="2" data-stripe="exp_month">
                          </label>
                          <label>
                            <span>Expiration Year(YY)</span>
                            <input [(ngModel)]="expiryYear" name="expiry-year"  class="form-control form-control-lg" max="2" min="2" type="text" size="2" data-stripe="exp_year">
                          </label>
                    </fieldset>
                    
                    <fieldset class="form-group">
                        <label>
                            <span>CVC</span>
                            <input [(ngModel)]="cvc" name="cvc" class="form-control form-control-lg" type="text" size="4" min="3" max="4" data-stripe="cvc">
                          </label>
                     </fieldset>
            </fieldset>
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
                Enviar
              </button>
            </fieldset>
              
            </form>
        </div>
  
      </div>
    </div>
  </div>
  