<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand navbarName" routerLink="/">ComoEnCasa</a>

    <!-- Show this for logged out users -->
    <ul *showAuthed="false"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/contact/form">
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login"
          routerLinkActive="active">
          Log in
        </a>
      </li>

    </ul>

    <form id="formSearch" class="form-inline my-2 my-lg-0" [formGroup]="searchForm">
        <fieldset [disabled]="isSubmitting">
          <fieldset class="form-group">
            <select formControlName="options" [(ngModel)]='defaultValue' class="form-control">
              <option class="form-control" value="localizacion">Localización</option>
              <option class="form-control" value="comida">Comida</option>
            </select>
            <input id="searchinput" formControlName="search" class="form-control mr-sm-2" type="text" placeholder="Search"/>
        </fieldset>
        <button id="submitbutton" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-search" aria-hidden="true"></i></button>
        </fieldset>
    </form>

    <!-- Show this for logged in users -->
    <ul *showAuthed="true"
      class="nav navbar-nav pull-xs-right">

      <li class="nav-item">
        <a class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active">
          <img [src]="currentUser.image" *ngIf="currentUser.image" class="user-pic" />
          {{ currentUser.username }}
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/contact/form">
          Contact
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link fa fa-shopping-cart"
          routerLink="/cart/shopping">
          <span class="badge badge-pill badge-danger circle count-items-cart">{{items()}}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-danger logoutlink" (click)="logout()">Logout <i class="fa fa-times-circle"></i>
        </a>
      </li>

    </ul>
  </div>
</nav>
